body {
    background-color: rgb(221, 221, 221);
}

/*----------------------France----------------------*/
.flag:nth-of-type(1):before{
    content: "";
    background-color: blue;
    top: 0;
    bottom: 0;
    width: 33.333%;
    position: absolute;
    left: 0;
    

}
.flag:nth-of-type(1){
    background-color: white;
    height: 125px;
    width: 250px;
    position: relative;
}

.flag:nth-of-type(1):after{
    content: "";
    background-color: red;
    top: 0;
    bottom: 0;
    width: 33.3333%;
    position: absolute;
    right: 0;
}


/*----------------------Allemagne----------------------*/
.flag:nth-of-type(2):before{
    content: "";
    background-color: black;
    height: 33%;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}
.flag:nth-of-type(2){
    background-color: red;
    height: 125px;
    width: 250px;
    position: relative;
    top: 50px
}
.flag:nth-of-type(2):after{
    content: "";
    background-color: yellow;
    height: 33%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

/*----------------------Japon----------------------*/
.flag:nth-of-type(3){
    background-color: white;
    height: 125px;
    width: 250px;
    position: relative;
    top: 100px;
}
.flag:nth-of-type(3):after{
    content: "";
    height: 50%;
    width: 25%;
    background-color: red;
    top: 25%;
    left: 37%;
    position: absolute;
    border-radius: 50px;
}

/*----------------------Suisse----------------------*/

.flag:nth-of-type(4):before{
    content: "";
    height: 80%;
    width: 10%;
    background-color: white;
    top: 10%;
    left: 45%;
    position: absolute;
}
.flag:nth-of-type(4){
    background-color: red;
    height: 125px;
    width: 250px;
    position: relative;
    top: 150px;
}
.flag:nth-of-type(4):after{
    content: "";
    height: 20%;
    width: 50%;
    background-color: white;
    top: 40%;
    left: 25%;
    position: absolute;
}

/*----------------------Norvège----------------------*/
.flag:nth-of-type(5):before{
    transform: rotate(90deg);
    content: "";
    height: 103px;
    width: 55px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(7,54,153,1) 25%, rgba(7,54,153,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    top: 10px;
    left: 23px;
    position: absolute;
}
.flag:nth-of-type(5){
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 33%, rgba(9,9,121,1) 33%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 41%, rgba(7,54,153,1) 41%, rgba(7,54,153,1) 58%, rgba(255,255,255,1) 58%, rgba(255,255,255,1) 66%, rgba(5,103,183,1) 66%, rgba(255,0,0,1) 66%, rgba(255,0,0,1) 100%);
    height: 125px;
    width: 250px;
    position: relative;
    top: 200px;
}
.flag:nth-of-type(5):after{
    transform: rotate(90deg);
    content: "";
    height: 105px;
    width: 55px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(7,54,153,1) 25%, rgba(7,54,153,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    top: 10px;
    right: 25px;
    position: absolute;
}
